<!DOCTYPE html>
<html>
   <head>
      <title>::. Team Build .::</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="/favicon.png">

      <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
      <!-- CSS ============================================= -->

      <link rel="stylesheet" href="/assets/css/linearicons.css">
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="/assets/css/bootstrap.css">
      <link rel="stylesheet" href="/assets/css/magnific-popup.css">
      <link rel="stylesheet" href="/assets/css/nice-select.css">					
      <link rel="stylesheet" href="/assets/css/animate.min.css">
      <link rel="stylesheet" href="/assets/css/owl.carousel.css">
      <link rel="stylesheet" href="/assets/css/main.css">

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>

      <% if false  %>
        
         <div class="cookies">
            <p>
               A editora Team Build, usa cookies nas páginas do site para armazenar e monitorar informações e preferências de seus usuários. Esses cookies nos permitem personalizar 
               suas visitas ao nosso ambiente on-line, por exemplo, com o preenchimento parcial automático de formulários para Downloads.
               Ainda, podemos monitorar seus acessos e entender o que você busca, quanto tempo fica em cada página, dentre outras coisas importantes que nos ajudam a criar novos 
               conteúdos ou serviços que atendam as suas necessidades da melhor forma possível.
            </p>

            <p>
               Em relação a maioria dos navegadores de internet estarem inicialmente configurados para aceitar cookies automaticamente, você pode negar seu armazenamento em disco 
               rígido por meio das configurações de seu navegador, ou utilizando alguma forma alternativa.
            </p>

            <p>
               Com isso, todos usuários devem entender que, caso optem por desativar os cookies, as áreas do ambiente <b>Team Build</b>, não funcionarão de forma otimizada.
            </p>

            <button onclick="cookieFunction()" class="btn genric-btn primary circle arrow">OK<span class="lnr lnr-arrow-right"></span></button>

         </div>

      <% end %>

      <div class="protfolio-wrap">    
         <%= render 'layouts/header' %>
         <%= yield %>
         <%= render 'layouts/footer' %>
      </div>

      <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="/assets/js/vendor/bootstrap.min.js"></script>			
      <script src="/assets/js/easing.min.js"></script>			
      <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
      <script src="/assets/js/jquery.magnific-popup.min.js"></script>	
      <script src="/assets/js/owl.carousel.min.js"></script>			
      <script src="/assets/js/jquery.sticky.js"></script>			
      <script src="/assets/js/jquery.nice-select.min.js"></script>			
      <script src="/assets/js/parallax.min.js"></script>	
      <script src="/assets/js/mail-script.js"></script>
      <script src="/assets/js/isotope.pkgd.min.js"></script>	
      <script src="/assets/js/main.js"></script>	

   </body>
</html>

<script>
   function cookieFunction() {
      $( ".cookies" ).remove();
      document.cookie = "cookies_team_build=false";
   }
</script>

<style>

   .cookies{
      position: fixed;
      z-index: 9999;
      background-color: #000000a1;
      width: 100%;
      padding: 60px;
      color: #fff;
      bottom: 0;
   }

   .banner-area {
      margin-top: -80px!important;
   }

   .primary-btn {
      background: #009fe3!important;
   }

   .banner-content h5{
      color: #009fe3!important;
   }

   .service-area .overlay-bg{
      background: transparent!important;
   }

   .is-sticky .default-header{
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 10px 5px 0px rgba(202, 202, 202, 0.17);
      -webkit-box-shadow: 0px 10px 5px 0px rgba(202, 202, 202, 0.17);
      -moz-box-shadow: 0px 10px 5px 0px rgba(202, 202, 202, 0.17);
   }

   .protfolio-wrap {
      margin: 65px 50px 50px!important;
   }

   .navbar-nav a{
      color: #009fe3!important;
   }

   hr{
      border-top: 0.8px solid rgba(3, 160, 227, 0.16)!important;
   }

   .unordered-list li{
      margin-bottom: 10px;
   }

   div.filters{
      margin-top: -15px!important;
   }

   .banner-area .overlay-bg{
      background-color: rgba(0, 123, 255, 0.19)!important;
   }

</style>